@font-face {
    font-family: Nunito;
    src: url(../../fonts/Nunito-VariableFont_wght.ttf)
}

@font-face {
    font-family: Noto Sans;
    src: url(../../fonts/NotoSans-Regular.ttf)
}

*,
::after,
::before {
    box-sizing: border-box;

}

body {
    align-items: center;
    padding: 0px;
    margin: 0px;
}

.card {


    background: linear-gradient(111.23deg, #E9F7FF 9.95%, #FFDBD5 85.17%);
    overflow: hidden;
    position: relative;

}

.bg-white {
    position: absolute;
    width: 1208px;
    height: 1208px;
    background: #F4F6FB;
    right: -600px;
    top: -137px;
    border-radius: 50%;
    z-index: 1;

}



.first-group {
    height: 1156px;
    display: flex;
    align-items: center;
}

.banner {

    height: 1156px;
    margin: 0 auto;
    z-index: 5;

}

.header-0 {
    height: 192px;
    display: flex;
    align-items: center;
    padding-top: 10px;
}

.header {
    width: 1200px;
    height: 81px;
    margin: 0 auto;

    display: inline-flex;
    align-items: center;

}



.sector {
    width: 60px;
    height: 58px;
    transform: skew(0deg);

    position: relative;

}

.sector-2 {
    position: absolute;
    right: 0;
    top: -5px;

}

.two {


    display: flex;
    align-items: center;
}


.logo span a {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 30px;
    line-height: 160%;

    color: #2C2D36;
    text-decoration: none;
}

.logo {
    margin-left: 6px;

}

nav {


    padding-left: 175px;


}

ul {

    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

}


ul a {
    text-decoration: none;
    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;

    text-transform: capitalize;

    color: #292930;

}


li {
    display: inline;
}

ul>li:nth-child(1) {
    padding-right: 59px;
    padding-bottom: 5px;
    border-bottom: blue 3px;

}

ul>li:nth-child(2) {
    padding-right: 59px;
}

ul>li:nth-child(3) {
    padding-right: 59px;
}

ul>li:nth-child(4) {
    padding-right: 14px;
}

ul>li:nth-child(5) {
    padding-right: 40px;
}

ul>li:nth-child(6) {
    padding-right: 58px;
}

ul>li:nth-child(7) {
    padding-right: 43px;
}




.get {

    padding-right: 43px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 17px 18px;
    gap: 10px;


    width: 173px;
    height: 64px;
    left: 1033px;
    top: 8.58px;

    background: #292930;
    border-radius: 7px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;

    text-transform: capitalize;

    color: #FFFFFF;

}

/* ----------------------      -content         ---------*/

.banner-main-part {
    width: 1703px;
    height: 801px;
    margin-top: 0;
    position: relative;



}

.pictures {
    position: absolute;
    top: 0px;
    right: -42px;
    z-index: 3;

}

.bg-white svg {
    position: absolute;
    top: 404px;
    left: 232px;
    z-index: 4;

}


.banner-content {
    width: 740px;
    height: 470px;
    padding-left: 234px;
    padding-top: 139px;
    position: relative;
    z-index: 5;

}


.banner-title {
    width: 740px;
    height: 282px;
    margin-top: 34px;
    margin-bottom: 28px;
}

.agency-sl {
    margin-bottom: 28px;
}


.slash {
    color: #FEC90C;

}

.agency {
    font-family: Noto Sans;
    color: #292930;
}

.fully {
    font-family: Nunito;
    font-style: normal;
    font-weight: 800;
    font-size: 70px;
    line-height: 110.5%;


    color: #292930;



}

.loren {

    font-family: Noto Sans;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 156.5%;

    color: #555555;
    padding-bottom: 34px;

}

.buttons {
    display: flex;
    gap: 20px;
    margin-top: 34px;

}

.button-1 {

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 18px 18px;
    gap: 10px;

    width: 182px;
    height: 64px;

    background: #ffffff;
    border-radius: 7px;

    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;

    text-align: center;
    text-transform: capitalize;

    color: #292930;
}

.button-2 {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 17px 18px 18px;
    gap: 10px;

    width: 173px;
    height: 64px;

    border: 1.5px solid #292930;
    border-radius: 7px;


    font-family: Nunito;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 160%;


    text-align: center;
    text-transform: capitalize;

    color: #292930;
}

.button-2:hover {

    background-color: #292930;
    color: #FFFFFF;

}

.button-1:hover {

    background-color: #292930;
    color: #FFFFFF;

}

.pictures {
    position: absolute;
    right: -42px;
    left: 0;
    top: 0;

}